<footer class="footer">
  <div class="copyright">
    <p>© 2018. All rights reserved.</p>
  </div>
  <div class="socials">
    <a href="#" class="fb">Facebook</a>
    <a href="#" class="insta">Instagram</a>
  </div>
  <div class="createby">
    <p>Create by <a href="#">OSOM AGENCY</a></p>
  </div>
</footer>